@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF4E9;
}

/* Header section & Nav bar */

header{
    height: 75px;
}

nav{
    display: block;
    position: relative;
    float: right;
}
nav ul{
    text-align: center;
    position: relative;

}
nav ul li{
    display: inline-block;
    margin: 0 50px 0 0;
    
}

nav ul li a{
    text-decoration: none;
    color: seagreen;
    font-family: 'Staatliches', cursive;
    font-size: 1.2em;
}

nav ul li a:hover{
    color: black;
    text-decoration: underline;
}

nav ul li button{
    background-color: transparent;
    font-size: 1.2em;
    font-family: 'Staatliches', cursive;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border-color: seagreen;
    color:seagreen;

}

nav ul li button:hover{
    background-color: black;
    color: whitesmoke;
    border-color: black;
}


#logo{
    width: 40px;
    height: 23px;
}

#logo img{
    margin: 10px;
    width: 80px;
    height: 60px;

}

/* Main section */

main{
    
}

.column{
    float: left;
    width: 50%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column h1{
    text-align: center;
    margin-top: 25%;
    font-size: 5em;
    text-decoration: none;
    color: seagreen;
    font-family: 'Staatliches', cursive;
    letter-spacing: 15px;
    
}

/* 
    Fix main page
    Find some stuff to write here
    Main is empty
    Fix text
    Try to make the illustration smaller
    Try to hide scroll bar
    Add custom waypoints

    */