@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #FFF4E9;
    overflow-y: hidden;
    overflow-x: hidden;

    animation: fadein ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Header section & Nav bar */

header{
    height: 75px;
}

nav{
    display: block;
    position: relative;
    float: right;
    overflow: hidden;
}
nav ul{
    text-align: center;
    position: relative;

}
nav ul li{
    display: inline-block;
    margin: 0 50px 0 0;
    
}

nav ul li a{
    text-decoration: none;
    color: #8ce08c;
    font-family: 'Staatliches', cursive;
    font-size: 1.2em;
}

nav ul li a:hover{
    color: black;
    text-decoration: underline;
}

nav ul li button{
    background-color: transparent;
    font-size: 1.2em;
    font-family: 'Staatliches', cursive;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border-color: seagreen;
    color:seagreen;

}

nav ul li button:hover{
    background-color: black;
    color: #8ce08c;
    border-color: black;
}

header.sticky{
    top: 0%;
    position: sticky;
    z-index: 999;
    background-color: #fff4e983;
}

#logo{
    width: 40px;
    height: 23px;
}

#logo img{
    margin: 10px;
    width: 80px;
    height: 60px;

}


/* Main section */

.column{
    float: left;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column h1{
    text-align: center;
    margin-top: 25%;
    font-size: 5em;
    text-decoration: none;
    color: #8ce08c;
    font-family: 'Staatliches', cursive;
    letter-spacing: 15px;
    
}

.column h1#maintitle{
    letter-spacing: 30px;
    text-align: end;
    margin-right: -150px;
}

.column #anim5{
    margin-left: -150px;
}

.second .container{
    height: 100vh;
    width: 100vw;
}

.second .container .column h1{
    text-align: center;
    margin-top: 20%;
    font-size: 4em;
    text-decoration: none;
    color: #8ce08c;
    font-family: 'Staatliches', cursive;
    letter-spacing: 15px;
    width: 70%;
}

.second .container .column .card{
    width: 70%;
    height: 300px;
    border-radius: 50px;
    background: linear-gradient(145deg, #e6dcd2, #fffff9);
    box-shadow:  30px 30px 60px #d9cfc6, 
             -30px -30px 60px #ffffff;

}

.second .container .column .card p{
    text-align: start;
    margin-top: 5%;
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.75em;
    text-decoration: none;
    color: rgba(46, 139, 86, 0.35);
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
}

.third{
    height: 100vh;
    width: 100vw;
}

.third .container{

    height: 100%;

}

.third .container .column{
    margin-top: -100px;
}

.third .container .column h1#title{
    font-size: 3.5em;
    letter-spacing: 15px;
}

.third .container .column#anim3{
    margin-top: 30px;
}

.third .container .column .row{
    margin-top: 5%;
}

.third .container .column .row#post1{

    margin-left: 10%;
}

.third .container .column .row#post1 .blogcard{
    width: 100%;
    height: 154px;
    display: flex;
    align-items: center;
    background-color: #3aff9338;
}

.third .container .column .row#post1 img{
    width: 25%;
    height: 150px;
    padding-left: 2px;
    position: relative;
}

.third .container .column .row#post1 p a{
    text-decoration: none;
    color: #8ce08c80;
}

.third .container .column .row#post1 p{
    display: inline-block;
    align-self: flex-start;
    font-size: 1.3em;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    margin: 15px;
}

.third .container .column .row#post1 p a:hover{
    color: seagreen;
}

.third .container .column .row#post2{

    margin-left: 10%;
}

.third .container .column .row#post2 .blogcard{
    width: 100%;
    height: 154px;
    display: flex;
    align-items: center;
    background-color: #3aff9338;
}

.third .container .column .row#post2 img{
    width: 25%;
    height: 150px;
    position: relative;
    padding-left: 2px;
}

.third .container .column .row#post2 p a{
    text-decoration: none;
    color: #8ce08c80;
}

.third .container .column .row#post2 p{
    display: inline-block;
    align-self: flex-start;
    font-size: 1.3em;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    margin: 15px;
}

.third .container .column .row#post2 p a:hover{
    color: seagreen;
}

.third .container .column .row#post3{

    margin-left: 10%;
}

.third .container .column .row#post3 .blogcard{
    width: 100%;
    height: 154px;
    display: flex;
    align-items: center;

    background-color: #3aff9338;
}

.third .container .column .row#post3 img{
    width: 25%;
    height: 150px;
    position: relative;
    padding-left: 2px;
}

.third .container .column .row#post3 p a{
    text-decoration: none;
    color: #8ce08c80;
}

.third .container .column .row#post3 p{
    display: inline-block;
    align-self: flex-start;
    font-size: 1.3em;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    margin: 15px;
}

.third .container .column .row#post3 p a:hover{
    color: seagreen;
}

.fourth{
    height: 100vh;
    width: 100vw;
}

/* 

    Finish pricing menu
    Begin contact page
    Footer section and newsletter
    Animate elements on page
    Maybe a loading screen

    */