@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
   /* scroll-behavior: smooth; */
    max-width: 100% !important;
    max-height: 100% !important;
}

body{
    background-color: #FFF4E9;
   /* overflow-y: hidden; */
    overflow-x: hidden;

    animation: fadein ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein{
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;

    }
}

/* Header section & Nav bar */

header{
    height: 10vh;
    
}

header nav{
    display: block;
    position: relative;
    float: right;
    overflow: hidden;
    z-index: 1000;
}
header nav ul{
    text-align: center;
    position: relative;

}
header nav ul li{
    display: inline-block;
    margin: 0 50px 0 0;
    
}

header nav ul li a{
    text-decoration: none;
    color: #8ce08c;
    font-family: 'Staatliches', cursive;
    font-size: 1.2em;
}

header nav ul li a:hover{
    color: seagreen;
    animation: navitems 0.2s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes navitems{
    0%{
        font-size: 1.2em;
    }
    50%{
        font-size: 1.375em;
    }
    100%{
        font-size: 1.5em;
    }
}

header nav ul li button{
    background-color: transparent;
    font-size: 1.2em;
    font-family: 'Staatliches', cursive;
    padding: 5px 10px 5px 10px;
    border-color: seagreen;
    color:seagreen;

}

header nav ul li button:hover{
    animation: buttonhover 0.3s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes buttonhover{
    0%{
        border-color: seagreen;
        color: seagreen;
    }
    100%{
        background-color: seagreen;
        color: #8ce08c;
        border-color: #FFF4E9;
    }
}

header.sticky{
    top: 0%;
    position: sticky;
    z-index: 999;
    background-color: #fff4e983;
}

#logo{
    width: 40px;
    height: 23px;
}

#logo img{
    margin: 10px;
    width: 80px;
    height: 60px;

}


/* Main section */

/* Contact Page */

.contact{ 
    width: 20vw;
    height: 100vh;
    position: absolute;
    transform: translate(500%, 0%);
    z-index: 999;
    display: none;
}

@keyframes in{
    0%{
        transform: translate(500%, 0%);

    }
    100%{
        transform: translate(400%, 0%);

    }
    
}

.contact.active{
    animation: in 1s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #8ce08c;
    width: 20vw;
    height: 90vh;
    position: absolute;
    transform: translate(500%, 0%);
    display: block;
    margin-top: 50px;
    border: 2px seagreen solid;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.form-inner{
    padding: 40px;
    width: 100vw;
    height: 100vh;

}

.form-inner h1{
    font-family: 'Staatliches', cursive;
    text-align: center;
    margin-bottom: 25px;
    color: white;
    letter-spacing: 5px;
}

.form-inner p{
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 0.75em;
    color: white;
    letter-spacing: 2px;
    margin-top: 50px;
}

.form-inner input, .form-inner textarea{
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: seagreen;
    color: white;
}

::placeholder{
    color: white;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}

.form-inner textarea{
    resize: none;
    height: 50vh;
}

.form-inner button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #3e4f24;
    background: seagreen; 
    font-size: 1.5em;
    letter-spacing: 5px;
    font-weight: 400;
    color: #fff;
    font-family: 'Staatliches', cursive;
}

.form-inner button:hover{
        filter: brightness(1.5);
        transform: scale(1.05);
    } 

/* First Page */

.column{
    float: left;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 9;
}

.row#first{
    width: 100vw;
    height: 90vh;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column h1{
    text-align: center;
    margin-top: 25%;
    font-size: 5em;
    text-decoration: none;
    color: #8ce08c;
    font-family: 'Staatliches', cursive;
    letter-spacing: 15px;
    
}

.column h1#maintitle{
    letter-spacing: 30px;
    text-align: end;
    margin-right: -150px;
}

.column #anim5{
    margin-left: -150px;
    z-index: 1;
}

/* Second Page */

.second .container{
    height: 100vh;
    width: 100vw;
}

.second .container .column h1{
    text-align: center;
    margin-top: 20%;
    font-size: 4em;
    text-decoration: none;
    color: #8ce08c;
    font-family: 'Staatliches', cursive;
    letter-spacing: 15px;
    width: 70%;
}

.second .container .column .card{
    width: 70%;
    height: 300px;
    border-radius: 50px;
    background: linear-gradient(145deg, #e6dcd2, #fffff9);
    box-shadow:  30px 30px 60px #d9cfc6, 
             -30px -30px 60px #ffffff;

}

.second .container .column .card p{
    text-align: start;
    margin-top: 5%;
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.75em;
    text-decoration: none;
    color: rgba(46, 139, 86, 0.35);
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
}

/* Third Page */

.third{
    height: 100vh;
    width: 100vw;
}

.third .container{

    height: 100%;

}

.third .container .column{
    margin-top: -100px;
}

.third .container .column h1#title{
    font-size: 3.5em;
    letter-spacing: 15px;
}

.third .container .column#anim3{
    margin-top: 30px;
}

.third .container .column .row{
    margin-top: 5%;
    margin-left: 10%;
}

.third .container .column .row .blogcard{
    width: 100%;
    height: 154px;
    display: flex;
    align-items: center;
    justify-content: flex;
    background-color: #3aff9338;
}

.third .container .column .row img{
    width: 25%;
    height: 150px;
    padding-left: 2px;
    position: relative;
}

.third .container .column .row p a{
    text-decoration: none;
    color: #8ce08c80;
}

.third .container .column .row p{
    display: inline-block;
    align-self: flex-start;
    font-size: 1.3em;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    margin: 15px;
}

.third .container .column .row p a:hover{
    color: seagreen;
}


/* Fourth Page */

.fourth{
    height: 90vh;
    width: 100vw;
}

.fourth h1{
    text-align: center;
    font-size: 3em;
    text-decoration: none;
    color: #8ce08c;
    font-family: 'Staatliches', cursive;
    letter-spacing: 15px;
    padding-top: 100px;
    margin-bottom: -100px;
}

.fourth .row{
    display: flex;
    justify-content: center;
}

.fourth .row #anim9{
    position: absolute;
    z-index: -1;
    width: 600px;
    height: 600px;
    transform: translate(-140%, 53%);
}

.fourth .row #anim4{
    position: absolute;
    z-index: -1;
    width: 700px;
    height: 700px;
    transform: translate(120%, 30%);
}

.fourth .row .columnprice{
    float: left;
    text-align: center;
    margin: 175px 50px 0 50px;
    padding: 20px 50px;
    border: 2px seagreen solid;
    border-radius: 15px;
}

.fourth .row .columnprice h1{
    margin-bottom: 10px;
    display: inline-block;
    padding: 25px 25px 25px 25px;
    font-family: 'Staatliches', cursive;
    color: seagreen;
    letter-spacing: 10px;
}

.fourth .row .columnprice hr{
    margin-top: -20px;
    margin-bottom: 15px;
}

.fourth .row .columnprice ul{
text-decoration: none;
list-style-type: none;
}

.fourth .row .columnprice ul li{
    padding: 10px;
    color: #8ce08c80;
    font-family: 'Staatliches', cursive;
    font-size: 1.3em;
    
}

.fourth .row .columnprice ul li.active{
    color: seagreen;
}

.fourth .row .columnprice ul li i{
    margin-right: 10px;
    color: rgb(13, 209, 98);
    text-decoration: none;
}

.fourth .row .columnprice button{
    padding: 10px 45px 10px 45px;
    margin: 15px;
    color: #8ce08c;
    background-color: seagreen;
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    border: none;
}

.fourth .row .columnprice button:hover{
    background-color: #8ce08c;
    color: seagreen;
    animation: scale 0.2s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

/* Footer section */

footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: seagreen;
}

footer i{
    color: #8ce08c;
    font-size: 24px;
    margin: 0 36px 0 36px;
    display: inline-block;
    
}

footer i:hover{
    color: black;
    animation: scaleupicon 0.3s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

footer h4{
    margin: 0 25px 0 25px;
    color: #8ce08c;
    font-family: 'Staatliches', cursive;
    font-size: 1.3em;
    letter-spacing: 0.3em;
}

@keyframes scaleupicon{
    0%{
        font-size: 24px;
    }
    100%{
        font-size: 36px;
    }
}

/* 

    Maybe a loading screen
    Responsive everything

    */